/* ================ MAIN ================ */
main{
    padding-left: 100px;
    margin-top: 50px;
}
/* ================ OL ================ */
ol {
    padding: 15px 40px;
    margin: 50px;
    font-size: 30px;
    margin-top: 30px;
    width: 70%;
    background-color: rgb(6, 154, 142);
}

main ol li ul {
    padding-left: 30px;
}