div{
    font-family: cursive;
    font-size: 18px;
}

.resize { /*Establezco una clase para redimensionar el flex y ver el comportamiento de las cajas*/
    resize: auto;
    overflow: auto;
    border: 3px solid rgb(0, 85, 85);
    margin: 50px;
}

/*========== Inicializo el flex============*/
.flex-container {
    display: flex;
    flex-direction: row; /*-reverse Lo modifica de derecha a izquierda*/
    flex-wrap: wrap; /*Cuando El contenedor no entra más en la página lo tira para abajo*/
}

.flex-item {
    background-color: rgb(6, 154, 142);
    margin: 15px;
    padding: 50px;
    height: 100px;
    width: 200px;
}

h3 {
    font-size: 50px;
    text-align: center;
}

/*============ FLEX DIRECTION ===========*/

.flex-direction {
    display: flex;
    flex-direction: column; /*-reverse Lo modifica de abajo hacia arriba*/
    flex-wrap: wrap;
    /*El Flex Direction y Flex wrap Se pueden escribir de manera conjunta*/
    flex-flow: column wrap;
}

.red {
    background-color: red;
}

/*========== Justify content ===========*/

.justify-content {
    display: flex;
    justify-content: center; /*space-arround, space-between, space-evenly*/ /*MAIN AXIS EJE X*/

}

/*========== Aling Items ===========*/

.aling-items {
    display: flex;
    height: 300px;
    align-items: center; /*flex-end, center, space-arround, space-between, space-stretch;*/
    
}