.flex-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(37, 37, 37);
    margin: 50px auto;
    border-radius: 15px;
    max-width: 1100px;
}

.form {
    width: 370px;
    min-width: 350px;
    max-width: 500px;
    flex-grow: 1;
    text-align: center;
    padding: 50px;
    order: 5;
}

.form__input {
    width: 100%;
    padding: 7px;
    margin: 6px 0px;
    border: none;
    border-bottom: 3px solid rgb(16, 202, 119);
    background-color: transparent;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}

.form__input:focus {
    /*background: linear-gradient(to bottom, transparent, rgb(51, 51, 51)); otra opción que no queda mal*/
    background-color: rgb(51, 51, 51);
    border-bottom: 3px solid rgb(65, 140, 238);
    outline: none;
}

.form textarea {
    min-height: 150px;
    resize: none;
}

.form__input[type="submit"] {
    background-color: rgb(13, 182, 106);
    color: black;
    font-weight: 600;
    font-size: 16px;
    border-bottom: none;
    padding: 12px;
}

.form__input[type="submit"]:hover {
    background-color: rgb(28, 226, 137);
}

.form__input[type="submit"]:active {
    background: linear-gradient(to top, rgb(255, 255, 255), rgb(28, 226, 137)) ;
}

.form-img{
    flex-grow: 1;
    display: flex;
    padding: 50px;
    width: 40%;
    min-width: 300px;
    max-width: 500px;
    order: 1;
}

.form-img div{
    padding: 10px;
}

.img-container {
    margin: auto;
}

.img-container div {
    background-color: rgb(255, 255, 255);
    border-radius: 50px 50%;
    text-align: center;
    padding: 40px;
}

.form-img img{
    width: 50%;
}