@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
p, div {
    font-family: roboto;
}

p{
    background-color: rgb(247, 255, 147);
    height: 190px;
    width: 500px;
    text-align: center;
    padding: 50px 20px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 5px solid rgb(0, 85, 85);
    border-radius: 10px;
}

section div {
    height: 150px;
    width: 150px;
    text-align: center;
    border: 3px solid black;
    margin-left: 50px;
}

.caja1-static{
    background-color: red;
    position: static;
}

.caja1-relative{
    background-color: red;
    position: relative; /*desplaza el cuadro pero guarda su lugar original*/
    left: 150px;
}

.caja2-static{
    background-color: blue;
    position: static;
}

.caja2-absolute{
    background-color: blue;
    position: absolute; /*desplaza el cuadro pero no guarda su lugar original*/
    left: 150px;
}

.caja3-static{
    background-color: yellow;
    position: static;
}
.caja3-sticky{
    background-color: yellow;
    position: sticky;
    top: 10px;
    left: 350px;
}

.separador {
    font-family: alice;
    color: white;
    padding: 30px;
    font-size: 50px;
    text-align: center;
    background-color: rgb(0, 85, 85);
    margin: 30px 0px;
}

.caja1-zindex {
    background-color: red;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 0;
}

.caja2-zindex {
    background-color: blue;
    position: relative;
    z-index: 1px;
}

#arriba {
    z-index: 2;
    opacity: .5; /*le da opacidad al objeto*/
}

.contenedor {
    position: relative;
    border: 4px solid rgb(0, 85, 85);
    background-color: rgb(247, 255, 147);
    margin: 50px auto;
    width: 450px;
    height: 450px;
}

div div {
    height: 100px;
    width: 100px;
    border: 3px dashed black;
    text-align: center;
    background-color: rgb(6, 154, 142);
    position: absolute;
}

.caja1 {
    top: 0;
}

.caja2 {
    right: 0;
}

.caja3 {
    bottom: 0;
}

.caja4 {
    bottom: 0;
    right: 0;
}

.caja5 {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
