* {
    color: red;
}

li {
    color: blue;
}

.clase {
    color: green;
}

#identificador {
    color: blueviolet;
}

[type="text"] {
    color: brown;
}

div h3 b {
    color: orange;
}

h3 b:hover {
    color: rgb(21, 255, 0);
}

h2 a, ul {
    padding: 100px;
}